<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CRUD NODEJS MONGODB</title>
		<!--BOOTSTRAP 4-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark mb-4">
			<div class="container-fluid">
			<a class="navbar-brand ml-5" href="/">
				<img src="https://i.pinimg.com/736x/b3/cc/d5/b3ccd57b054a73af1a0d281265b54ec8.jpg" width="30" height="30" class="d-inline-block align-top ml-5" alt="">
				Home
			</a>
			<a class="navbar-brand mr-sm-2" href="/webtools">
				<img src="https://icons-for-free.com/iconfiles/png/512/global+globe+international+language+travel+world+icon-1320196706358094912.png" width="30" height="30" class="d-inline-block align-top ml-5" alt="">
				WebTools
			</a>
		</div>
		</nav>
